<a href="https://colab.research.google.com/github/Kevinle76/Charity-Funding-Predictor/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from google.colab import files
uploaded = files.upload()

Saving charity_data.csv to charity_data.csv

In [4]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(['EIN','NAME'], axis = 1)
#  YOUR CODE GOES HERE

In [6]:
df.columns.unique()

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [8]:
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
df['ASK_AMT'].value_counts()

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
counts = df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace= list(counts[counts<500].index)  

application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [12]:
# Replace in dataframe
for app in application_types_to_replace:
   df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [13]:
count_classi = df['CLASSIFICATION'].value_counts()
count_classi

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [73]:
# counts_classification = count_classi[count_classi>1]
# counts_classification

In [14]:
classification_types_to_places1 = list(count_classi[count_classi<100].index)
classification_types_to_places1

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [15]:
for cls in classification_types_to_places1:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls, 'Others')

In [16]:
df['CLASSIFICATION'].value_counts()

C1000     17326
C2000      6074
C1200      4837
C3000      1918
C2100      1883
C7000       777
Others      669
C1700       287
C4000       194
C5000       116
C1270       114
C2700       104
Name: CLASSIFICATION, dtype: int64

In [17]:
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
df = pd.get_dummies(df,dtype=float)
df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = df['IS_SUCCESSFUL'].values
y
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

array([1, 1, 0, ..., 0, 1, 0])

In [20]:
X = df.drop(['IS_SUCCESSFUL'],axis=1)
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [21]:
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=42)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [31]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
num_input_features= len(X_train_scaled[0])
hidden_node_layer1 = 7
hidden_node_layer2 =14
hidden_node_layer3 = 21

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units= hidden_node_layer1, input_dim=num_input_features , activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_node_layer2, activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 7)                 350

 dense_8 (Dense)             (None, 14)                112

 dense_9 (Dense)             (None, 1)                 15

=================================================================
Total params: 477
Trainable params: 477
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the model
nn.compile(loss='binary_crossentropy' , optimizer='adam', metrics=['accuracy'])

#  YOUR CODE GOES HERE

In [33]:
# Train the model
fit_model= nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)
#  YOUR CODE GOES HERE

Epoch 1/100
684/684 [==============================] - 4s 4ms/step - loss: 0.6162 - accuracy: 0.6923 - val_loss: 0.5660 - val_accuracy: 0.7276
Epoch 2/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5688 - accuracy: 0.7227 - val_loss: 0.5511 - val_accuracy: 0.7380
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5598 - accuracy: 0.7255 - val_loss: 0.5473 - val_accuracy: 0.7375
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5556 - accuracy: 0.7263 - val_loss: 0.5444 - val_accuracy: 0.7370
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7276 - val_loss: 0.5434 - val_accuracy: 0.7370
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7278 - val_loss: 0.5431 - val_accuracy: 0.7362
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7277 - val_loss: 0.5430 - val_accuracy: 0.7385
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7281 - val_loss: 0.5425 - val_accuracy: 0.7372
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7286 - val_loss: 0.5426 - val_accuracy: 0.7354
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7289 - val_loss: 0.5427 - val_accuracy: 0.7375
Epoch 11/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7297 - val_loss: 0.5429 - val_accuracy: 0.7365
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7300 - val_loss: 0.5430 - val_accuracy: 0.7375
Epoch 13/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5484 - accuracy: 0.7316 - val_loss: 0.5432 - val_accuracy: 0.7354
Epoch 14/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5482 - accuracy: 0.7301 - val_loss: 0.5427 - val_accuracy: 0.7344
Epoch 15/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7309 - val_loss: 0.5437 - val_accuracy: 0.7357
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7315 - val_loss: 0.5428 - val_accuracy: 0.7380
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7301 - val_loss: 0.5425 - val_accuracy: 0.7352
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7314 - val_loss: 0.5439 - val_accuracy: 0.7346
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7308 - val_loss: 0.5431 - val_accuracy: 0.7302
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7307 - val_loss: 0.5425 - val_accuracy: 0.7352
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7314 - val_loss: 0.5440 - val_accuracy: 0.7372
Epoch 22/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5469 - accuracy: 0.7315 - val_loss: 0.5425 - val_accuracy: 0.7352
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7317 - val_loss: 0.5424 - val_accuracy: 0.7362
Epoch 24/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5466 - accuracy: 0.7309 - val_loss: 0.5434 - val_accuracy: 0.7349
Epoch 25/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5463 - accuracy: 0.7314 - val_loss: 0.5453 - val_accuracy: 0.7323
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7303 - val_loss: 0.5436 - val_accuracy: 0.7339
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7311 - val_loss: 0.5432 - val_accuracy: 0.7349
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7309 - val_loss: 0.5443 - val_accuracy: 0.7341
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7313 - val_loss: 0.5432 - val_accuracy: 0.7354
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7308 - val_loss: 0.5424 - val_accuracy: 0.7357
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7318 - val_loss: 0.5443 - val_accuracy: 0.7344
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7308 - val_loss: 0.5437 - val_accuracy: 0.7354
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7317 - val_loss: 0.5433 - val_accuracy: 0.7354
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7308 - val_loss: 0.5434 - val_accuracy: 0.7341
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7322 - val_loss: 0.5425 - val_accuracy: 0.7349
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7312 - val_loss: 0.5429 - val_accuracy: 0.7339
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7322 - val_loss: 0.5427 - val_accuracy: 0.7346
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7320 - val_loss: 0.5423 - val_accuracy: 0.7362
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7308 - val_loss: 0.5441 - val_accuracy: 0.7349
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7315 - val_loss: 0.5424 - val_accuracy: 0.7365
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7311 - val_loss: 0.5424 - val_accuracy: 0.7349
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7318 - val_loss: 0.5441 - val_accuracy: 0.7344
Epoch 43/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7309 - val_loss: 0.5429 - val_accuracy: 0.7346
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7314 - val_loss: 0.5442 - val_accuracy: 0.7341
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7322 - val_loss: 0.5425 - val_accuracy: 0.7362
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7312 - val_loss: 0.5428 - val_accuracy: 0.7359
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7313 - val_loss: 0.5426 - val_accuracy: 0.7349
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7312 - val_loss: 0.5432 - val_accuracy: 0.7352
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7317 - val_loss: 0.5419 - val_accuracy: 0.7344
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7299 - val_loss: 0.5420 - val_accuracy: 0.7359
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7328 - val_loss: 0.5429 - val_accuracy: 0.7339
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7324 - val_loss: 0.5427 - val_accuracy: 0.7349
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7321 - val_loss: 0.5435 - val_accuracy: 0.7346
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7326 - val_loss: 0.5432 - val_accuracy: 0.7339
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7329 - val_loss: 0.5430 - val_accuracy: 0.7346
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7324 - val_loss: 0.5428 - val_accuracy: 0.7352
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7325 - val_loss: 0.5415 - val_accuracy: 0.7349
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7326 - val_loss: 0.5417 - val_accuracy: 0.7354
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7321 - val_loss: 0.5429 - val_accuracy: 0.7346
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7317 - val_loss: 0.5420 - val_accuracy: 0.7349
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7324 - val_loss: 0.5428 - val_accuracy: 0.7349
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7332 - val_loss: 0.5438 - val_accuracy: 0.7344
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7330 - val_loss: 0.5441 - val_accuracy: 0.7336
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7319 - val_loss: 0.5431 - val_accuracy: 0.7344
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7323 - val_loss: 0.5436 - val_accuracy: 0.7349
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7333 - val_loss: 0.5422 - val_accuracy: 0.7365
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7321 - val_loss: 0.5428 - val_accuracy: 0.7346
Epoch 68/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7332 - val_loss: 0.5419 - val_accuracy: 0.7334
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7318 - val_loss: 0.5420 - val_accuracy: 0.7362
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7331 - val_loss: 0.5437 - val_accuracy: 0.7344
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7327 - val_loss: 0.5424 - val_accuracy: 0.7354
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7325 - val_loss: 0.5425 - val_accuracy: 0.7346
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7326 - val_loss: 0.5429 - val_accuracy: 0.7339
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7333 - val_loss: 0.5437 - val_accuracy: 0.7341
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7330 - val_loss: 0.5432 - val_accuracy: 0.7341
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7329 - val_loss: 0.5428 - val_accuracy: 0.7336
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7334 - val_loss: 0.5423 - val_accuracy: 0.7339
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7330 - val_loss: 0.5421 - val_accuracy: 0.7362
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7334 - val_loss: 0.5428 - val_accuracy: 0.7349
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7328 - val_loss: 0.5426 - val_accuracy: 0.7352
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7331 - val_loss: 0.5419 - val_accuracy: 0.7349
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7333 - val_loss: 0.5416 - val_accuracy: 0.7336
Epoch 83/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7335 - val_loss: 0.5419 - val_accuracy: 0.7344
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7335 - val_loss: 0.5424 - val_accuracy: 0.7357
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7337 - val_loss: 0.5424 - val_accuracy: 0.7346
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7336 - val_loss: 0.5426 - val_accuracy: 0.7346
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7335 - val_loss: 0.5427 - val_accuracy: 0.7349
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7332 - val_loss: 0.5430 - val_accuracy: 0.7349
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7333 - val_loss: 0.5422 - val_accuracy: 0.7359
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7340 - val_loss: 0.5421 - val_accuracy: 0.7352
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7325 - val_loss: 0.5424 - val_accuracy: 0.7346
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7339 - val_loss: 0.5420 - val_accuracy: 0.7346
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7342 - val_loss: 0.5435 - val_accuracy: 0.7357
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7332 - val_loss: 0.5432 - val_accuracy: 0.7349
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7339 - val_loss: 0.5404 - val_accuracy: 0.7349
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7331 - val_loss: 0.5422 - val_accuracy: 0.7341
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7340 - val_loss: 0.5415 - val_accuracy: 0.7359
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7339 - val_loss: 0.5427 - val_accuracy: 0.7349
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7346 - val_loss: 0.5409 - val_accuracy: 0.7354
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7342 - val_loss: 0.5429 - val_accuracy: 0.7357

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5542 - accuracy: 0.7303 - 292ms/epoch - 1ms/step
Loss: 0.5542401671409607, Accuracy: 0.7302623987197876

In [35]:
# Export our model to HDF5 file
from google.colab import files
nn.save('/Resources/Model1.h5')
files.download('/Resources/Model1.h5')
#  YOUR CODE GOES HERE